<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>theSecondGroup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F40C4FB51DBCAF9700952B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40C4FC91DBCAF9800952B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40C4FD41DBCAF9800952B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
